:local(.test){
    list-style-type: none;
    background-color: beige;
}

:local(.test2) {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

:local(.navhelp) {
    float: right;
    
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

:local(li:hover) {
    transform: scale(1.2);
    color: #e49d1a;
}